@{
    ViewBag.Title = "Home";
}
<h1>
    Introduction</h1>
<p>@ViewBag.Message</p>
<section>
    <h2>
        What is Bitcoin</h2>
    <p>
        Bitcoin is a way to transfer value between people on the internet
    </p>
    <p>
        Unlike many other payment options on the internet, bitcoin isn't owned by any one
        group or organisation; instead it is collectively supported by the community that
        uses it.
    </p>
    <p>
        More info can be found here: - <a href="http://www.weusecoins.com/">http://www.weusecoins.com/</a></p>
</section>
<section>
    <h2>
        How to Get these 'Bitcoins'</h2>
    <p>
        Everyone (other than the notable exception of <a href="https://en.bitcoin.it/wiki/Satoshi_Nakamoto">
            Satoshi Nakamoto</a>, who made the first group of bitcoins) has two options
        in getting bitcoins. The recommended way is to trade something for them from somebody
        who owns these coins already. (such as goods, services, or cash). There are many
        places that accept bitcoin listed here:<br />
        <a href="https://en.bitcoin.it/wiki/Trade">Bitcoin Trade (Bitcoin Wiki)</a>
    </p>
    <p>
        The other way of obtaining bitcoins is to make them.
        <br />
        Making bitcoins is very hard, as there is lots of traded value for each bitcoin
        the process required to make a bitcoin has become extremely difficult (the rate
        that bitcoin's are made is nominally constant). The best way to familiar yourself with
        making bitcoin (and to check if you will be profitable in this endeavour), is to
        head to
        <br />
        <a href="https://ozco.in/">Oz Coin - Australian Bitcoin Mining</a>
    </p>
</section>
<section>
    <h2>
        Now what?</h2>
    <p>
        Now that you know what bitcoin is, why don't you make your first bitcoin wallet,
        and start trading (or generating) them yourself. Set-up an 'e-wallet <strong>(Make sure
        you use a long and secure password!)</strong>  here:
        <a href="https://www.mybitcoin.com/">https://www.mybitcoin.com </a>or (instant,
        potentially less secure, no passwords) <a href="https://www.instawallet.org/">https://www.instawallet.org/</a>
    </p>
    <p>
        You also have the option of using the bitcoin software on your computer and hold
        your own wallet; however it is extremely important that you have a secure computer
        (both
        <a href="https://en.bitcoin.it/wiki/Securing_your_wallet">software</a>, and
        <a href="https://en.bitcoin.it/wiki/Securing_Your_Computer">physically</a> ).
    </p>
</section>
<!-- end .content -->
