<h3>
    Welcome to the Australian bitcoin certification authority!
</h3>
<p>
    Bitcoin Australia was degusted with the current price and lack of privacy that people
    have when trying to obtain a digital certificate for our own sites.
    <br />
    The only free solution (starssl) still required an extremely large amount of personal
    information. The other service either required payment via a credit card, and or
    a huge amount of extra private information.
    <br />
    We have decided to setup our own free certification authority to aid this community
    in more reliable and secure communications. Unlike our competitors we do not have
    a commonly included root certificate.
    <br />
    This will require you and you visitors to install our root certificate in your trusted
    certification store. While this is easy to to on most browsers, it still requires
    that you trust us not to issue bad certificates. (or loose control of our private
    keys)
    <br />
    We have endeavoured to protect these private keys to the best of our abilities,
    and will provide facilities to publicly audit their security.
    <br />
    Our Goal it to provide reliable and secure certificates to the bitcoin community at no cost or very little cost.  Our secondary goal is to provide the namecoin community with a secure service for namecoin domains certificates.
    <br />
    We will continue to strive to support the bitcoin community at large, as we believe bitcoin is a beacon of hope for this world.
</p>