@{
    ViewBag.Title = "Home Page";
}
<h2>
    Welcome to the Bitcoin Australia Community Site</h2>
<p>
    Please visit our our portal site for more info <a href="http://bitaus.com/" title="Bitcoin Australia">
        Bitcoin Australia</a>.
</p>
